header{
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
}

nav{
    display: flex;
    color: whitesmoke;
}

#titre{
    text-align: center;
    color: whitesmoke;
    padding: 100px;
}
#accueil_link, #memory_link, #scores_link, #contact_link {
    padding-left: 10px;
    padding-right: 10px;
}


#login{
    text-align: center;

    padding: 170px;
}
input{
    width: 30%;
    background-color: #48468a;
}
    

footer{

    display: flex;
    justify-content: space-around;
    
    color: whitesmoke;


}
a{
    text-decoration: none;
    color: currentColor;
}
a:hover
{
    color : orange;
}
body{
    background-color: #11102F;
}
.creditt{
    color: whitesmoke;
}