header{
    display: flex;
    justify-content: space-between;
    background-color: 	#11102f;
}

nav{
    display: flex;
}

#titre{
    text-align: center;
    background-color: #CECECE;
    padding: 100px;
}
#accueil_link, #memory_link, #scores_link, #contact_link {
    padding-left: 10px;
    padding-right: 10px;
}


#login{
    text-align: center;
    background-color: #11102f;
    padding: 100px;
}

    

footer{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    background-color:#272635;
    position:absolute;
    bottom:0;
    width: 100%;
}



