body{
    background-color: #11102f;
}
header {
    display: flex;
    justify-content: space-between;
}


.links {
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    display: flex;
}

a {
    text-decoration: none;
    color: currentColor;
}

#not_credit{
    display: flex;
    justify-content: space-around;
}

#h1{
    text-align:center;
    padding-top: 7%;
    padding-bottom: 7%;
    background-image: url(https://images.hdqwalls.com/wallpapers/cyber-outrun-vaporwave-synth-retro-car-4k-m6.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-position-y: 47%;
    background-size: 100%;
    color: white;
}

p{
    color: white;
}
#pl{
    color: white;
    font-size: 120%;
}
h4{
    color: white;
}
a{
    color: white;
}
a:hover {
    color: orange;
}
#icon{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 2%;
    margin-top: 4%;
}

#phone{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 8;
    margin-right: 0%;
    padding-top: 3%;
    padding-left: 6%;
    padding-bottom: 2%;
    padding-right: 6%;
    background-color: #120D29;    
}
#telephone{
    width: 64px;
    height: 64px;
}
#mail{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 0%;
    padding-top: 3%;
    padding-left: 6%;
    padding-bottom: 2%;
    padding-right: 6%;
    background-color: #120D29;
}
#email{
    width: 64px;
    height: 64px;
}
#gps{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 0%;
    padding-top: 3%;
    padding-left: 6%;
    padding-bottom: 2%;
    padding-right: 6%;
    background-color: #120D29;
}
#maps{
    width: 64px;
    height: 64px;
}

input{
        width: 30%;
        background-color: #252446;
        border: 0px;
        height: 40px;
        padding-left: 20px;
    
}
input {
    color: white;
}
.name{
    margin-right: 2.5%;
    width: 29%;
}
.email{
    width: 29%;

}
.subject{
    padding-right: 33%;
    background-color: #252446;
    border: 0px;
}
.message{
    padding-right: 33%;
    padding-bottom: 20%;
    background-color: #252446;
    border: 0px;

}

form{
    padding-left: 25%;
    padding-bottom: 15%;

}
footer{
    background-color: #120D29;
}
.text_orange{
    color: orange ;
}
#bouton_connexion{
    background-color: orange;
    float: center;
    border-style: solid;
    border: 0px;
    padding: 10px;
    color: white;
    padding-right: 8%;
    padding-bottom: 1%; 
    font-size: 120%;

}

#bouton_connexion:hover {
    background-color: rgb(217, 141, 0);
}
ul li {
    list-style-type: square;
}

.text_orange {
    color: orange;
}

.gris {
    color: whitesmoke;
}