header {
    display: flex;
    justify-content: space-between;
}


.links {
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    display: flex;
}

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: orange;
}

#welcome {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#stats {
    display: flex;
}

#num_games, #best_time, #connected_players, #registered_players {
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 10px;
}

#num_games {
    background-color: blue;
}

#best_time {
    background-color: mediumorchid;
}

#connected_players {
    background-color: rgb(37, 181, 37);
}

#registered_players {
    background-color: darkorange;
}

#team {
    text-align: center;
    margin-bottom: 25px;
}

#team_members {
    display:flex;
    justify-content: space-around;
    margin: 25px;
}

#not_credit {
    display:flex;
    justify-content: space-around;
}

/*footer {
    position:absolute;
    bottom:0;
    width: 100%;
}*/

body {
    background-color: rgb(17, 16, 47);
    color: whitesmoke;
}

button {
    background-color: orange;
    border-radius: 3px;
    padding: 10px;
    color: white;
}

button:hover {
    background-color: rgb(217, 141, 0);
}

button a:hover {
    color: white;
}