header {
    display: flex;
    justify-content: space-between;
}


.links {
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    display: flex;
}

a {
    text-decoration: none;
    color: currentColor;
}

#welcome {
    text-align: center;
}

#stats {
    display: flex;
}

#num_games, #best_time, #connected_players, #registered_players {
    padding: 50px;
    text-align: center;
}

#team {
    text-align: center;
}

#team_members {
    display:flex;
    justify-content: space-around;
}

footer {
    display:flex;
    justify-content: space-around;
}