body{
    background-color: #11102f;
}


        /* Début du CSS header, navigation, bannière */

header {
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
}
a { /* Liens de navigations */
    text-decoration: none;
    color: currentColor;
}
.links { /* Class pour les liens de navigations */
    padding-left: 10px;
    padding-right: 10px;
}

h1{ /* titre Principale*/
    text-align: center;
    color: whitesmoke;
    padding: 90px;
}
.image_back{ /* Image de bannière */
    background-attachment: fixed;
    background-position: 50%;
    background-position-y: 47%;
    background-position-y:47% ;
    background-size: 100%;
    color: white;
    padding: 20px;

    background-image: url(https://images.hdqwalls.com/wallpapers/cyber-outrun-vaporwave-synth-retro-car-4k-m6.jpg);
}

        /* Fin du CSS (header, navigation, bannière) */


        /* Début du CSS des icones pour nous contacter (Telephone, Mail, Maps) */

#icon{ /* Les 3 icones (phone, mail, gps) */
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 2%;
    margin-top: 4%;
}

#phone{ /* Icone lien du Téléphone */
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 8;
    margin-right: 0%;
    padding-top: 3%;
    padding-left: 6%;
    padding-bottom: 2%;
    padding-right: 6%;
    background-color: #120D29;    
}
#telephone{ /* Image */
    width: 64px;
    height: 64px;
}

#mail{ /* Icone lien du Mail */
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 0%;
    padding-top: 3%;
    padding-left: 6%;
    padding-bottom: 2%;
    padding-right: 6%;
    background-color: #120D29;
}
#email{ /* Image */
    width: 64px;
    height: 64px;
}

#gps{ /* Icone lien de la position Google Maps */
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 0%;
    padding-top: 3%;
    padding-left: 6%;
    padding-bottom: 2%;
    padding-right: 6%;
    background-color: #120D29;
}
#maps{ /* Image */
    width: 64px;
    height: 64px;
}

#pl{ /* Textes sous les icones */
    color: white;
    font-size: 120%;
}

        /* Fin du CSS des icones pour nous contacter (Telephone, Mail, Maps) */


        /* Début du Formulaire d'Aide */

form{
    padding-left: 25%;
    padding-bottom: 15%;
}

.name{
    margin-right: 2.5%;
    width: 29%;
}
.email{
    width: 29%;
}
.subject{
    padding-right: 33%;
    background-color: #252446;
    border: 0px;
}
.message{
    padding-right: 33%;
    padding-bottom: 20%;
    background-color: #252446;
    border: 0px;
}
#bouton_connexion{
    background-color: #fe7f00;
    float: center;
    border-style: solid;
    border: 0px;
    padding: 10px;
    color: white;
    padding-right: 8%;
    font-size: 120%;
}
#bouton_connexion:hover {
    background-color: #252446;
}

        /* Fin du Formulaire d'Aide */


        /* Début du Footer */

footer{
    background-color: #120D29;
}
#not_credit{
    display: flex;
    justify-content: space-around;
}

.text_orange{
    color: orange ;
}
.gris {
    color: whitesmoke;
}
ul li {
    list-style-type: square;
}

        /* Fin du Footer */


        /* Réglage général */



p{
    color: white;
}

h4{
    color: white;
}
a{
    color: white;
}
a:hover {
    color: orange;
}


input{
        width: 30%;
        background-color: #252446;
        border: 0px;
        height: 40px;
        padding-left: 20px;
    
}
input {
    color: white;
}