/*haut de la page */
header{
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
}

nav{
    display: flex;
    color: whitesmoke;

}

.image_back{
    background-attachment: fixed;
    background-position: 50%;
    background-position-y:47% ;
    background-size: 100%;
    padding: 20px;
    
    background-image: url(https://images.hdqwalls.com/wallpapers/cyber-outrun-vaporwave-synth-retro-car-4k-m6.jpg);
}

#accueil_link, #memory_link, #scores_link, #contact_link ,#connexion_link,.link{
    padding-left: 10px;
    padding-right: 10px;
}

/* fin du haut de la page*/


h1{  /* titre Principale*/
    text-align: center;
    color: whitesmoke;
    padding: 90px;
}


/* partie de la connexion*/

#login{
    text-align: center;

    padding: 140px;
}
input{
    width: 30%;
    background-color: #252446;
    border: 0px;
    height: 40px;
    padding-left: 20px;
    color: whitesmoke;

}
/* bouton inscription */


#bouton_inscription{
    background-color: #fe7f00
    ;
    float: center;
    border-style: solid;
    border: 0px;
    padding: 10px;
    color: white;
}

#bouton_inscription:hover{
    background-color: #252446;
}

/*  Fin bouton inscription */
/*  Fin partie de la connexion*/

/* bas de la page*/
footer{
    background-color: #120d29;
}

#not_credit {
    display:flex;
    justify-content: space-around;
}

.creditt{
    color: whitesmoke;
}

ul li {
    list-style-type: square;
}

.text_orange {
    color: orange;
}

.gris {
    color: whitesmoke;
}


/* general */

a{
    text-decoration: none;
    color: currentColor;
}
a:hover
{
    color : orange;
}
body{
    background-color: #131138;
    color: whitesmoke;
}
