body {
    background-color: rgb(17, 16, 47);
    color: whitesmoke;
}
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: #fe7f00;
}

/*Css de la partie header (début)*/

#bg_image {
    background-image: url(https://images.hdqwalls.com/wallpapers/cyber-outrun-vaporwave-synth-retro-car-4k-m6.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-position-y: 47%;
    background-size: 100%;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

header {
    display: flex;
    justify-content: space-between;
}

#power_memory {
    margin-left: 15px;
}

.links {
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    display: flex;
}

/*Css de la partie header (fin)*/

/*Css de la partie intro (début)*/

#intro {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#intro h1 {
    font-size: 3em;
}

#intro p{
    font-size: larger;
}

/*Css de la partie intro (fin)*/

/*Css du tableau (début)*/

#center_part {
    display: flex;
}

.side {
    flex: 0.5;
}

#tables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 5;
}

table {
/*    border: 3px solid whitesmoke; */
    font-size: larger;
    border-collapse: collapse;
    border-radius: 10px;
    text-align: center;
}

#first {
/*    background-color: goldenrod; */
    background: linear-gradient(to right, gold, goldenrod);
}

#second {
/*    background-color: silver; */
    background: linear-gradient(to right, silver, rgb(142, 142, 142));
}

#third {
/*    background-color: #CD7F32; */
    background: linear-gradient(to right, rgb(186, 126, 13), #CD7F32);
}

.podium {
    margin: 10px 0px;
}

.podium td {
    padding: 30px 0px 30px 0px;
}

.therest {
    background: linear-gradient(to right, dodgerblue, blue, rebeccapurple, purple);
    margin: 6px 0px;
}

#me {
    background: linear-gradient(to right, lightseagreen, yellowgreen);
}

#me td {
    padding: 35px 0px 35px 0px;
}

th {
/*    border: 2px solid whitesmoke; */
    padding: 0px 50px 0px 50px;
    font-size: x-large;
}

td {
/*    border: 2px solid whitesmoke; */
    padding: 20px 0px 20px 0px;
    font-size: larger;
}

.classement {
    width: 18%;
}

.gamename {
    width: 18%;
}

.pseudo {
    width: 15%;
}

.difficulty {
    width: 20%;
}

.score {
    width: 12%;
}

/*Css du tableau (fin)*/

/*Css de la partie footer (début)*/

footer {
    background-color: #120D29;
    margin-top: 20px;
}

#not_credit {
    display:flex;
    justify-content: space-around;
}

#reseaux_sociaux {
    display: flex;
    align-items: center;
}

.bouton_reseaux_sociaux{
    border: 2px solid #120D29;
}

ul li {
    list-style-type: square;
}

.text_orange {
    color: orange;
}

.gris {
    color: whitesmoke;
}

/*Css de la partie footer (fin)*/

